<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ManagedDomain" value="clarkhillplc.net"/>
    <add key="DomainUser" value="clarkhillplc\portalsvcad"/>
    <add key="DomainPassword" value="anpv3BABMG*&amp;%Wr@$23*BRgwHvz^uerk"/>
    <add key="SearchRoot" value="OU=ClarkHill,DC=clarkhillplc,DC=net"/>
  </appSettings>
</configuration>
